
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@200&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Prosto+One&family=Rubik:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 40px;
    background: url("../img/decor.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 84px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 111;
}
.navbar_in{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.navbar_ul{
    display: flex;
    list-style: none;
}
.navbar_ul li{
    color: #CACACA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 25px;
    cursor: pointer;
}

.navbar_ul2 li{
    color: #CACACA;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 25px;
    cursor: pointer;
}

.eng_lan h2{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 5px;
}
.eng_lan{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.lang_arrow{
    color: white;
    margin-left: 7px;
    transition: 0.5s;
}
.navbar_in button{
    width: 207px;
    height: 47px;
    border: none;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(2deg, #0B729F -108.41%, #7302EE -12.71%, #00B3FF 98.62%, #03B0FB 98.62%);
}
.for_eng_lan h2{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 5px;
}
.for_eng_lan{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#for_eng_lan{
    margin-bottom: 10px;
}
.languages{
    position: relative;
}
.for_lang_bottom{
    transition: 1s;
    display: none;
    position: absolute;
    right: 0;
    top: 30px;

    border-radius: 20px;
border: 2px solid #563C72;
background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
backdrop-filter: blur(32.5px);

    /* background-color: #16151C; */

    padding: 15px;
    border-radius: 5px;
    z-index: 11111;
}
.for_none_lang{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 20px;
    display: none;
}
.navbar_manu{
    font-size: 30px;
    color: white;
    display: none;
}
.logo2{
    display: none;
}
.bottom_header{
    overflow: hidden;
    color: white;
    min-height: 600px;
}
.bottom_header_card{
    position: relative;
    z-index: 111;
    max-width: 607px;
    width: 100%;
    padding: 15px;
}
.bottom_header_card h2{ 
    font-family: 'Inter', sans-serif;
font-family: 'Prosto One', sans-serif;
font-size: 48px;
}
.bottom_header_center{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
.bottom_header_p1{
    max-width: 607px;
    color: #CACACA;
    width: 95%;
    font-size: 18px;
    margin-top: 30px;
    line-height: 23px;
}
.bottom_header_p2{
    color:#949EFD;
    margin-top: 50px;
}
.bottom_header_center{
    display: flex;
    align-items: center;
}
.bottom_header{
    padding-top: 50px;
    position: relative;
    background-color: #16151C;
}
.bottom_header_p2 {
    background: linear-gradient(to right, #949EFD, #954FFF, #BB70FF, #56A4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bottom_header_img1{
    position: absolute;
    right: -12vw;
    bottom: 0;
    width: 50vw;
}
.for_right_images{
    position: relative;
}
.hosting1{
    position: relative;
    z-index: 1111;
    width: 31vw;
}
#img11{
    display: none;
}
.roadmap{
    background: linear-gradient(to right, #7623D4, 0%, #16151C 60%);
    min-height: 840px;
    
}
.roadmap_h1{
    font-family: 'Inter', sans-serif;
    font-family: 'Prosto One', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.road_map_card{
    color: white;
    z-index: 1111;
}
.road_map_card1{
    position: relative;
}
.road_map_card h3{
    font-family: 'Inter', sans-serif;
font-family: 'Prosto One', sans-serif;
color: #FFF;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
}

.road_map_card h5{
    color: white;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;
}
.road_map_card{
    margin-right: 15px;
    padding: 15px;
    width: 400px;
    min-height: 468px;
    border-radius: 20px;
border: 2px solid #563C72;
background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
backdrop-filter: blur(5.449999809265137px);
}
.road_map_card p{
    margin-top: 20px;
    line-height: 23px;
}
.road_for_flex{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.dot{
    width: 18px;
    height: 9px;
    background-color: white;
    border-radius: 50%;
}
.road_map_card1 h2{
    font-family: 'Inter', sans-serif;
font-family: 'Prosto One', sans-serif;
    text-align: center;
font-size: 124.898px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 10px;
top: -90px;
text-shadow: 0px 0px 2px #C58FFF !important;
    color: #16151C !important;
}
.roadmap_cards{
    display: flex;
    padding-top: 140px;
    overflow-x: scroll !important;
    padding-bottom: 30px;
}
.roadmap_cards::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
    height: 12px;
  }
  
  /* Track */
  .roadmap_cards::-webkit-scrollbar-track {
    background: linear-gradient(#B6C4DC, #00000000);
    border-radius: 40px;
  }
  
  /* Handle */
  .roadmap_cards::-webkit-scrollbar-thumb {
    background: linear-gradient(#7623D4, #B388E1) ;
    border-radius: 40px;
  }

  .how_start{
    min-height: 730px;
    background-color: #16151C;
  }
  .how_start h1{
    color: #FFF;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Inter', sans-serif;
font-family: 'Prosto One', sans-serif;
  }

.road_map_cent{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 15px;
}
.how_start h6{
        background: linear-gradient(to right, #949EFD, #954FFF, #BB70FF, #56A4FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
        text-align: center;
        margin-top: 15px;
}
.how_start_card{
    padding: 15px;
    max-width: 32.3%;
    min-height: 417px;
    width: 100%;
    border-radius: 20px;
border: 2px solid #CA9CFC;
background: linear-gradient(347deg, rgba(13, 13, 13, 0.14) 17.92%, rgba(120, 95, 135, 0.16) 80.79%);
backdrop-filter: blur(23.149999618530273px);
}
.how_start_card img{
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}
.how_start_card p{
    color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
line-height: 25px;
}
.how_start_cards{
    max-width: 1300px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin: auto;
    margin-top: 50px;
}
.line_for_footer{
    display: none;
}

.accordion {
    position: relative;
    width: 100%;
    max-width: 674px;
    border-radius: 20px;
    border: 2px solid #563C72;
    background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
    backdrop-filter: blur(23.149999618530273px);
    padding: 1.4rem 1rem;
    z-index: 10;
    overflow: hidden;
}

.accordion .contentBx {
    position: relative;
    margin: 20px 20px;
}

.nav_box2 {
    position: absolute;
    left: -800px;
    min-width: 400px;
    min-height: 10000px;
    background: #16151C;
    padding: 2rem 1rem;
    display: block;
}

.nav2_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nav2_card .close2 {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.navbar_ul2 li {
    font-size: 1.2vw;
    margin-bottom: 1rem !important;
}

.navbar_ul2 li {
    display: block;
}

.contentBx .label {
    position: relative;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}

.contentBx .label::before {
    content: '+';
    position: absolute;
    top: 30%;
    right: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    font-size: 27px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.content {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.accardion2{
    height: 150px !important;
}
.accardion3 {
    height: 60px !important;
}

.accardion4 {
    height: 80px !important;
}
.accardion5 {
    height: 60px !important;
}


.accardion6 {
    height: 80px !important;
}

.accardion7 {
    height: 55px !important;
}

.content2 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content3 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content4 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content5 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content6 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.faq {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin-top: 15%;
    padding: 20px;
    margin: auto;
}

.faq_right_img {
    /* width: 100%; */
    position: absolute;
    bottom: -20%;
    right: 0;
    z-index: 1;
    /* justify-content: flex-end; */
}

.faq_right_img img {
    width: 64vw;
    margin-left: 6%;
}

.faq_blue {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 335px;
    height: 220px;
    border-radius: 335px;
    background: rgba(53, 217, 253, 0.80);
    filter: blur(110.69182586669922px);
}

.faq_pink {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 343.689px;
    height: 158.549px;
    border-radius: 343.689px;
    background: rgba(186, 27, 241, 0.50);
    filter: blur(80px);
}

.faq_purple {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 280.679px;
    height: 33.234px;
    border-radius: 280.679px;
    background: rgba(124, 99, 175, 0.40);
    filter: blur(30px);
}

.faq_h1 h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Prosto One', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12%;
}

#cont {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.cont_h1 h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Prosto One', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cont_box {
    position: relative;
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #563C72;
    background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
    backdrop-filter: blur(23.149999618530273px);
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    overflow: hidden;
}

@media(min-width: 1440px){
    .cont_box {
    max-width: auto;
    width: 90vw;
    }
}

.cont_right {
    width: 583px;
    height: 471px;
    flex-shrink: 0;
    box-shadow: 3.562px 3.562px 8.905px 0px rgba(0, 0, 0, 0.10);
}

.cont_left {
    width: 100%;
    max-width: 482px;
    margin: auto;
    position: relative;
}

.cont_right iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

.cont_links_p {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.cont_links_p img {
    margin-right: 0.5rem;
}

.cont_links2 {
    height: 62px;
    border-left: 1px solid #fff;
    padding-left: 1rem;
}

.cont_links2 p {
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 17px; 121.429% */
    letter-spacing: 0.14px;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.cont_links_p p {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
}

.cont_left_min {
    display: flex;
    justify-content: space-between;
}

.cont_links3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cont_links3 p {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
}

.cont_links3 img {
    margin-left: 1rem;
    cursor: pointer;
}

.cont_blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 335px;
    background: rgba(53, 217, 253, 0.80);
    filter: blur(110.69182586669922px);
    z-index: -1;
}

.cont_pink {
    position: absolute;
    right: -10%;
    bottom: 5%;
    width: 343.689px;
    height: 158.549px;
    flex-shrink: 0;
    border-radius: 343.689px;
    background: rgba(186, 27, 241, 0.50);
    filter: blur(80px);
    z-index: -1;
}









@media (max-width:1100px) {
    .cont_box {
        position: relative;
        width: 100%;
        max-width: 1240px;
        display: block;
        justify-content: space-between;
        border-radius: 20px;
        border: 2px solid #563C72;
        background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
        -webkit-backdrop-filter: blur(23.149999618530273px);
        backdrop-filter: blur(23.149999618530273px);
        padding: 1rem;
        margin: auto;
        margin-top: 5rem;
        overflow: hidden;
    } 
    
    .cont_right {
        width: 100%;
        height: 471px;
        flex-shrink: 0;
        box-shadow: 3.562px 3.562px 8.905px 0px rgba(0, 0, 0, 0.10);
        margin-top: 2rem;
    }

    .cont_left {
        width: 100%;
        max-width: none;
        margin: auto;
        position: relative;
    }
}

@media (max-width:900px) {
    .faq {
        width: 100%;
        max-width: 1300px;
        margin-top: 15%;
        display: block;
    }

    .faq_right_img img {
        width: 100%;
    }

    .faq_right_img {
        position: relative;
    }

    .accordion {
        margin: auto;
        margin-bottom: 3rem;
    }

    .faq_dark_purple {
        position: absolute;
        top: 10%;
        left: 30%;
        width: 254.91px;
        height: 180px;
        background: rgba(138, 88, 255, 0.43);
        filter: blur(69px);
    }
}
@media(max-width:800px){
    .for_footer_card p{
        font-size: 14px !important;
        line-height: 20px !important;
        margin-top: 8px !important;
    }
    .faq_h1 h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12%;
    }

    .bottom_header_center{
        display: block;
    }
    .bottom_header_p2{
        margin-top: 10px;
    }
    .for_right_images{
        margin-top: 20px;
    }
    .hosting1{
        width: 50vw;
    }
    .bottom_header_img1{
        width: 70vw;
    }
    .bottom_header_p1{
        width: 100%;
    }
    .bottom_header_img1{
        left: 0;
    }
}
@media(max-width:1000px){
    .how_start_cards{
        justify-content: center;
    }
    .how_start_card{
        max-width: 48%;
    }
    .bottom_header_p1{
        font-size: 14px;
    }
    .bottom_header_card h2{
        font-size: 38px;
    }
    .bottom_header_p2{
        font-size: 14px;
    }
}
@media(max-width:700px){
    .how_start_card{
        max-width: 100%;
    }
}
@media(max-width:480px){
    .for_footer_cent{
        display: block !important; 
    }
    .accordion {
        position: relative;
        width: 100%;
        max-width: 674px;
        border-radius: 20px;
        border: 2px solid #563C72;
        background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
        -webkit-backdrop-filter: blur(23.149999618530273px);
        backdrop-filter: blur(23.149999618530273px);
        padding: 0.6rem 0 0 0;
        z-index: 10;
        overflow: hidden;
    }

    .contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }

    .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 30%;
        right: 0;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        font-size: 19px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    .accordion .contentBx {
        position: relative;
        margin: 20px 10px;
    }

    .faq {
        position: relative;
        width: 100%;
        max-width: 1300px;
        margin-top: 15%;
        padding: 10px;
        margin: auto;
    }

    .logo2{
        display: flex;
    }
    .logo1{
        display: none;
    }
    .road_map_card{
        width: 93vw;
    }
    .how_start h1{
        font-size: 35px;
    }
    .how_start h6{
        font-size: 15px;
    }
    .roadmap_h1{
        font-size: 28px;
    }
    #for_footer_card1{
        text-align: left !important;
        width: auto !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .for_footer_card p{
        max-width: 100% !important;
    }
    .line_for_footer{
        display: flex;
        height: 15px;
        width: 1.5px;
        background-color: white;
    }
    #for_footer_card1 p{
        margin-top: 0 !important;
        width: auto;
    }
    #for_footer_card1{
        margin-top: 25px;
    }
    .for_footer_card p{
        margin-top: 15px !important;
    }
}
@media(max-width:560px){
    .cont_links_p p {
        color: #FFF;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    
    .cont_links3 img {
        width: 40px;
        margin-left: 1rem;
        cursor: pointer;
    }

    .cont_links_p img {
        width: 40px;
        margin-right: 0.7rem;
    }

    .faq_h1 h1 {
        color: #FFF;
        text-align: left;
        font-family: 'Prosto One', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12%;
    }

    .contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }

    .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 30%;
        right: 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        font-size: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    .navbar_in button{
        width: 140px;
        height: 30px;
        font-size: 14px;
        border-radius: 10px;
    }
    #img11{
        display: flex;
    }
    .bottom_header_img1{
        display: none;
        right: auto;
    }
    .for_right_images{
        overflow: hidden;
    }
    .hosting1{
        width: 100%;
    }
    .bottom_header_img1{
        width: 100vw;
    }
    .logo1{
        width: 200px;
    }
}
@media(max-width:1200px){
    .navbar_ul{
        display: none !important;
    }
    .languages{
        display: none;
    }
    .navbar_manu{
        display: flex;
    }
}
@media(min-width:1440px){
    .for_footer_card p{
        font-size: 1vw !important;
        max-width: 33vw !important;
        line-height: 1.2vw !important;
    }
    .for_footer_card img{
        width: 15vw;
    }
    .how_start_card{
        min-height: 10vw;
    }
    .for_footer_cent{
        max-width: 90vw !important;
    }
    .how_start_cards{
        max-width: 90vw;
    }
    .how_start_card p{
        font-size: 1vw;
        line-height: 1.2vw;
    }
    .road_map_cent{
        max-width: 90vw;
    }
    .road_map_card h5{
        font-size: 18px;
    }
    .road_map_card p{
        font-size: 18px;
        line-height: 25px;
    }
    .bottom_header_p1{
        width: 100%;
        max-width: max-content;
        font-size: 1.2vw;
        line-height: 1.6vw;
    }
    .bottom_header_p2{
        font-size: 1.2vw;
        margin-top: 2vw;
    }
    .bottom_header_card{
        max-width: 42vw;
    }
    .bottom_header_card h2{
        font-size: 3vw;
    }
    .bottom_header_center{
        max-width: 90vw;
    }
    .bottom_header_img1{
        width: 45vw;
        top: 0;
        right: -8vw;
    }
    .hosting1{
        margin-left: 2vw;
    }
    .for_right_images{
        max-width: max-content;
        width: auto;
    }
    .for_lang_bottom{
        top: 2vw;
    }
    .navbar{
        height: 6vw;
    }
    .navbar_in{
        max-width: 90vw;
    }
    .logo1{
        width: 18vw;
    }
    .navbar ul li{
        font-size: 1.2vw;
    }
    .rus{
        width: 2vw;
    }
    .which_lang{
        font-size: 1.2vw !important;
        margin-left: 0.4vw !important; 
    }
    .lang_arrow{
        font-size: 1vw;
    }
}
@media(max-width:430px){
    .cont_h1 h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #cont {
        width: 100%;
        max-width: 1300px;
        margin-top: 15%;
        margin: auto;
        padding: 10px !important;
    }

    .road_map_card{
        width: 92vw;
    }

    .contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }
}
@media(max-width:380px){
    .for_footer_card p {
        font-size: 13px !important;
    }
    .road_map_card{
        width: 91vw;
    }

    .cont_links3 {
        display: block;
    }

    .cont_links3 img {
        width: 40px;
        margin-top: 1rem;
        margin-right: 0.6rem;
        margin-left: auto;
        cursor: pointer;
    }

    .cont_links2 {
        height: 62px;
        border-left: 1px solid #fff;
        padding-left: 0.5rem;
    }

    .cont_links2 p {
        color: rgba(255, 255, 255, 0.87);
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.14px;
        margin-bottom: 0.4rem;
        cursor: pointer;
    }
}
@media(max-width:340px){
    .road_map_card{
        width: 90vw;
    }
}


.accordion {
    position: relative;
    width: 100%;
    max-width: 674px;
    border-radius: 20px;
    border: 2px solid #563C72;
    background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
    backdrop-filter: blur(23.149999618530273px);
    padding: 1.4rem 1rem;
    z-index: 10;
    overflow: hidden;
}

.accordion .contentBx {
    position: relative;
    margin: 20px 20px;
}

.contentBx .label {
    position: relative;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}

.contentBx .label::before {
    content: '+';
    position: absolute;
    top: 30%;
    right: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    font-size: 27px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.content {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content2 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content3 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content4 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content5 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.content6 {
    position: relative;
    padding-top: 10px;
    color: #CACACA;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.for_back_faq{
    background-color: #16151C;
}
.for_back_contact{
    background-color: #16151C;
    padding-top: 15%;
}
.faq {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin-top: 15%;
    padding: 15px;
    margin: auto;
}

.faq_right_img {
    position: absolute;
    bottom: -20%;
    right: 0;   
    z-index: 1;
}

.faq_blue {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 335px;
    height: 220px;
    border-radius: 335px;
    background: rgba(53, 217, 253, 0.80);
    filter: blur(110.69182586669922px);
}

.faq_pink {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 343.689px;
    height: 158.549px;
    border-radius: 343.689px;
    background: rgba(186, 27, 241, 0.50);
    filter: blur(80px);
}

.faq_purple {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 280.679px;
    height: 33.234px;
    border-radius: 280.679px;
    background: rgba(124, 99, 175, 0.40);
    filter: blur(30px);
}

.faq_h1 h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Prosto One', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12%;
}

#cont {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

.cont_h1 h1 {
    color: #FFF;
    text-align: center;
    font-family: 'Prosto One', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.cont_box {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid #563C72;
    background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
    backdrop-filter: blur(23.149999618530273px);
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    overflow: hidden;
}

.cont_right {
    width: 583px;
    height: 471px;
    flex-shrink: 0;
    box-shadow: 3.562px 3.562px 8.905px 0px rgba(0, 0, 0, 0.10);
}

.cont_left {
    width: 100%;
    max-width: 482px;
    margin: auto;
    position: relative;
}

.cont_right iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

.cont_links_p {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.cont_links_p img {
    margin-right: 0.5rem;
}

.cont_links2 {
    height: 62px;
    border-left: 1px solid #fff;
    padding-left: 1rem;
}

.cont_links2 p {
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 17px; 121.429% */
    letter-spacing: 0.14px;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.cont_links_p p {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
}

.cont_left_min {
    display: flex;
    justify-content: space-between;
}

.cont_links3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cont_links3 p {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.2px;
}

.cont_links3 img {
    margin-left: 1rem;
    cursor: pointer;
}

.cont_blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 335px;
    background: rgba(53, 217, 253, 0.80);
    filter: blur(110.69182586669922px);
    z-index: -1;
}

.cont_pink {
    position: absolute;
    right: -10%;
    bottom: 5%;
    width: 343.689px;
    height: 158.549px;
    flex-shrink: 0;
    border-radius: 343.689px;
    background: rgba(186, 27, 241, 0.50);
    filter: blur(80px);
    z-index: -1;
}


@media (max-width:1100px) {
    .cont_box {
        position: relative;
        width: 100%;
        max-width: 1240px;
        display: block;
        justify-content: space-between;
        border-radius: 20px;
        border: 2px solid #563C72;
        background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
        -webkit-backdrop-filter: blur(23.149999618530273px);
        backdrop-filter: blur(23.149999618530273px);
        padding: 1rem;
        margin: auto;
        margin-top: 5rem;
        overflow: hidden;
    } 
    
    .cont_right {
        width: 100%;
        height: 471px;
        flex-shrink: 0;
        box-shadow: 3.562px 3.562px 8.905px 0px rgba(0, 0, 0, 0.10);
        margin-top: 2rem;
    }

    .cont_left {
        width: 100%;
        max-width: none;
        margin: auto;
        position: relative;
    }
}

@media (max-width:900px) {
    .faq {
        width: 100%;
        max-width: 1300px;
        margin-top: 15%;
        display: block;
    }

    .faq_right_img img {
        width: 100%;
    }

    .faq_right_img {
        position: relative;
    }

    .accordion {
        margin: auto;
        margin-bottom: 3rem;
    }

    .faq_dark_purple {
        position: absolute;
        top: 10%;
        left: 30%;
        width: 254.91px;
        height: 180px;
        background: rgba(138, 88, 255, 0.43);
        filter: blur(69px);
    }
}
@media(max-width:800px){
    .faq_h1 h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12%;
    }

    .bottom_header_center{
        display: block;
    }
    .bottom_header_p2{
        margin-top: 10px;
    }
    .for_right_images{
        margin-top: 20px;
    }
    .hosting1{
        width: 50vw;
    }
    .bottom_header_img1{
        width: 70vw;
    }
    .bottom_header_p1{
        width: 100%;
    }
    .bottom_header_img1{
        left: 0;
    }
}
@media(max-width:1000px){
    .how_start_card{
        max-width: 48%;
    }
    .bottom_header_p1{
        font-size: 14px;
    }
    .bottom_header_card h2{
        font-size: 38px;
    }
    .bottom_header_p2{
        font-size: 14px;
    }
}
@media(max-width:700px){
    .how_start_card{
        max-width: 100%;
    }
}
@media(max-width:480px){
    .accordion {
        position: relative;
        width: 100%;
        max-width: 674px;
        border-radius: 20px;
        border: 2px solid #563C72;
        background: linear-gradient(143deg, rgba(13, 13, 13, 0.14) 1.25%, rgba(120, 95, 135, 0.16) 79.53%);
        -webkit-backdrop-filter: blur(23.149999618530273px);
        backdrop-filter: blur(23.149999618530273px);
        padding: 0.6rem 0 0 0;
        z-index: 10;
        overflow: hidden;
    }

    .contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }

    .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 30%;
        right: 0;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        font-size: 19px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    .accordion .contentBx {
        position: relative;
        margin: 20px 10px;
    }

    .faq {
        position: relative;
        width: 100%;
        max-width: 1300px;
        margin-top: 15%;
        padding: 10px;
        margin: auto;
    }


.logo2{
        display: flex;
    }
    .logo1{
        display: none;
    }
    .road_map_card{
        width: 93vw;
    }
    .how_start h1{
        font-size: 35px;
    }
    .how_start h6{
        font-size: 15px;
    }
    .roadmap_h1{
        font-size: 28px;
    }
}
@media(max-width:560px){
    .cont_links_p p {
        color: #FFF;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    
    .cont_links3 img {
        width: 40px;
        margin-left: 1rem;
        cursor: pointer;
    }

    .cont_links_p img {
        width: 40px;
        margin-right: 0.7rem;
    }

    .faq_h1 h1 {
        color: #FFF;
        text-align: left;
        font-family: 'Prosto One', sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12%;
    }

    .contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }

    .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 30%;
        right: 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        font-size: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
    }

    .navbar_in button{
        width: 140px;
        height: 30px;
        font-size: 14px;
        border-radius: 10px;
    }
    #img11{
        display: flex;
    }
    .bottom_header_img1{
        display: none;
        right: auto;
    }
    .for_right_images{
        overflow: hidden;
    }
    .hosting1{
        width: 100%;
    }
    .bottom_header_img1{
        width: 100vw;
    }
    .logo1{
        width: 200px;
    }
}
@media(max-width:1200px){
    .navbar_ul{
        display: none !important;
    }
    .languages{
        display: none;
    }
    .navbar_manu{
        display: flex;
    }
}
@media(min-width:1440px){
    .road_map_cent{
        max-width: 90vw;
    }
    .road_map_card h5{
        font-size: 18px;
    }
    .road_map_card p{
        font-size: 18px;
        line-height: 25px;
    }
    .bottom_header_p1{
        width: 100%;
        max-width: max-content;
        font-size: 1.2vw;
        line-height: 1.6vw;
    }
    .bottom_header_p2{
        font-size: 1.2vw;
        margin-top: 2vw;
    }
    .bottom_header_card{
        max-width: 42vw;
    }
    .bottom_header_card h2{
        font-size: 3vw;
    }
    .bottom_header_center{
        max-width: 90vw;
    }
    .bottom_header_img1{
        width: 45vw;
        top: 0;
        right: -8vw;
    }
    .hosting1{
        margin-left: 2vw;
    }
    .for_right_images{
        max-width: max-content;
        width: auto;
    }
    .for_lang_bottom{
        top: 2vw;
    }
    .navbar{
        height: 6vw;
    }
    .navbar_in{
        max-width: 90vw;
    }
    .logo1{
        width: 18vw;
    }
    .navbar ul li{
        font-size: 1.2vw;
    }
    .rus{
        width: 2vw;
    }
    .which_lang{
        font-size: 1.2vw !important;
        margin-left: 0.4vw !important; 
    }
    .lang_arrow{
        font-size: 1vw;
    }
}
@media(max-width:430px){
    .cont_h1 h1 {
        color: #FFF;
        text-align: center;
        font-family: 'Prosto One', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #cont {
        width: 100%;
        max-width: 1300px;
        margin: auto;
        padding: 10px !important;
    }

    .road_map_card{
        width: 92vw;
    }


.contentBx .label {
        position: relative;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #FFF;
        cursor: pointer;
    }
}
@media(max-width:380px){
    .road_map_card{
        width: 91vw;
    }

    .cont_links3 {
        display: block;
    }

    .cont_links3 img {
        width: 40px;
        margin-top: 1rem;
        margin-right: 0.6rem;
        margin-left: auto;
        cursor: pointer;
    }

    .cont_links2 {
        height: 62px;
        border-left: 1px solid #fff;
        padding-left: 0.5rem;
    }

    .cont_links2 p {
        color: rgba(255, 255, 255, 0.87);
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.14px;
        margin-bottom: 0.4rem;
        cursor: pointer;
    }
}
@media(max-width:340px){
    .road_map_card{
        width: 90vw;
    }
}
.for_footer{
    background: #16151C;
    padding-top: 60px;
}
.for_footer_card p{
    color: #CACACA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 537px;
    width: 100%;
    margin-top: 12px;
    line-height: 21px;
}
.for_footer_cent{
    padding: 15px;
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}



.tokenomix {
    background: #16151c;
  }
  
  .Sub_div {
    /* width: 1440px; */
    display: block;
    text-align: center;
    margin: auto;
  }
  
  .main2_div {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 15px;
  }
  
  .p_mini {
    width: 50%;
    margin: auto;
    color: white;
  }
  
  .p_mini h1 {
    font-size: 4vw;
    padding-bottom: 20px;
  }
  
  .mini_cb {
    width: 15px;
    height: 15px;
    background: #02a0e7;
    border-radius: 50%;
  }
  
  .mini_hs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .texts_div {
    width: 50%;
  }
  
  .mini_hs p {
    padding-left: 10px;
    color: white;
    font-weight: 200;
  }
  
  .cards_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .more_div {
    width: 50%;
  }
  
  .more_div img {
    width: 100%;
  }
  
  .more_div2 {
    width: 50%;
  }
  
  .more_div2 img {
    width: 100%;
  }
  
  @media (min-width: 1440px) {
    .mini_hs p {
      font-size: 1vw;
    }
    .main2_div {
      max-width: 90vw;
    }
    .faq{
        max-width: 90vw;
    }
    .accordion{
        max-width: 45vw;
    }
  }
  
  @media (max-width: 940px) {
    .mini_hs p {
      font-size: 13px;
    }
    .p_mini {
      width: 75%;
    }
  }
  
  .more_div2 {
    display: none;
  }
  
  @media (max-width: 740px) {
    .cards_div {
      flex-wrap: wrap;
    }
    .texts_div {
      width: 100%;
    }
    .more_div {
      display: none;
    }
    .more_div2 {
      width: 70%;
      display: flex;
      margin-top: -70px;
      margin-bottom: -30px;
    }
  }
  
  @media (max-width: 592px) {
    .p_mini {
      width: 100%;
      font-size: 12px;
    }
    .p_mini h1 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 494px) {
    .more_div2 {
      width: 100%;
      display: flex;
      margin-top: -30px;
      margin-bottom: -10px;
    }
  }
  
  .Contacts_big_div {
    width: 100%;
    display: flex;
    justify-content: space-around;
  
    /* background: linear-gradient(
      2deg,
      #0b729f -108.41%,
      #7302ee -12.71%,
      #00b3ff 98.62%,
      #03b0fb 98.62%
    ); */
  }
  
  .Contacts_div {
    width: 250px;
    height: 250px;
    text-align: center;
    border: 2px solid #563c72;
    padding: 10px;
    border-radius: 20px;
    background: #cc9dff0b;
    margin-top: -60px;
    padding-top: 70px;
  }
  
  .contact_map {
    background: #16151c;
  }
  
  .Hash_tag {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
    margin-top: 10px;
  }
  
  .Hash_tag img {
    width: 40px;
  }
  
  .hash {
    color: white;
  }
  .hash p {
    color: gray;
  }
  
  .contact_center {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    color: white;
  }
  
  .contact_center h1 {
    padding-bottom: 10px;
  }
  
  .Contacts_big_div {
    overflow-x: scroll !important;
    overflow: hidden;
  }
  
  .Contacts_big_div::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
    height: 12px;
  }
  
  /* Track */
  .Contacts_big_div::-webkit-scrollbar-track {
    background: linear-gradient(#b6c4dc, #00000000);
    border-radius: 40px;
  }
  
  /* Handle */
  .Contacts_big_div::-webkit-scrollbar-thumb {
    background: linear-gradient(#7623d4, #b388e1);
    border-radius: 40px;
  }
  
  .roadmap_cards:nth-child(2) {
    padding-top: 0;
  }
  .image_contact {
    text-align: center;
  }
  
  
  /* 
  .image_contact{
      position: relative;
      z-index: 1111;
  }
  .image_contact img{
       position: absolute;
       top: -40px ;
       z-index: 1111;
  } */